/* .: B.O.U~M. :. copyrighted design tokens (https://www.followgu.us/license) use ROMAN SEMANTICAL NOTATION to ramp tokens ON or UNDER the relative Base, using characters only.

/* LOCK.css is specifically used to lock in all your tokens that you don't want to touch hereafter. These are referred to as "Literal Design Tokens" as they hold literal values. */

    .rds:not(.rds--freeze) {
    --_cp__mob: ;
    --_cp__ooob: ;
    --_cp__oob: ;
    --_cp__ob: ;
    --_cp: #22cafe;
    --_cp__ub: ;
    --_cp__uub: ;
    --_cp__uuub: ;
    --_cp__mub: ;

    /* color secundairy, abbreviated to first-letters */
    --_cs__mob: ;
    --_cs__ooob: ;
    --_cs__oob: ;
    --_cs__ob: ;
    --_cs: #face22;
    --_cs__ub: ;
    --_cs__uub: ;
    --_cs__uuub: ;
    --_cs__mub: ;

    /* color tertiary, abbreviated to first-letters */
    --_ct__mob: ;
    --_ct__ooob: ;
    --_ct__oob: ;
    --_ct_oob: ;
    --_ct: #22face;
    --_ct__ub: ;
    --_ct__uub: ;
    --_ct__uuub: ;
    --_ct__mub: ;

    /* color quarternairy, abbreviated to first-letters */
    --_cq__mob: ;
    --_cq__ooob: ;
    --_cq__oob: ;
    --_cq__ob: ;
    --_cq: #fa22ce;
    --_cq__ub: ;
    --_cq__uub: ;
    --_cq__uuub: ;
    --_cq__mub: ;

    /* color white, abbreviated to first-letters */
    --_cw__mob: ;
    --_cw: white;
    --_cw__mub

    /* abbreviated to  */
    --_cg__mob;
    --_cg;
    --_cg__mub;

    /* color black, abbreviated to first-letters */
    --_cb__mob: ;
    --_cb: ;
    --_cb__mub: ;

    /* utility color succes, abbreviated to first-letters */
    --_ucs__mob: ;
    --_ucs:  ;
    --_ucs__mub:  ;

    /* utility color notification, abbreviated to first-letters */
    --_ucn__mub: ;
    --_ucn:  ;
    --_ucn__mob: ;

    /* utility color warning, abbreviated to first-letters */
    --_ucw__mob: ;
    --_ucw:  ;
    --_ucw__mub: ;

    /* utility color error, abbreviated to first-letters */
    --_uce__mob: ;
    --_uce:  ;
    --_uce__mub: ;

    /* spacing utility, abbreviated cascading t-shirt sizes */
    --space-XX: clamp(0.13rem, calc(0.11rem + 0.06vw), 0.19rem);
    --space-XS: clamp(0.25rem, calc(0.23rem + 0.13vw), 0.38rem);
    --space-SS: clamp(0.50rem, calc(0.44rem + 0.31vw), 0.81rem);
    --space-SM: clamp(0.69rem, calc(0.59rem + 0.50vw), 1.19rem);
    --space-M: clamp(1.0rem, calc(0.81rem + 0.63vw), 1.56rem);
    --space-MM: clamp(1.44rem, calc(1.25rem + 0.94vw), 2.38rem);
    --space-ML: clamp(1.88rem, calc(1.63rem + 1.25vw), 3.13rem);
    --space-LL: clamp(2.81rem, calc(2.44rem + 1.88vw), 4.69rem);
    --space-LD: clamp(3.75rem, calc(3.25rem + 2.50vw), 6.25rem);
    --space-DD: clamp(5.63rem, calc(4.88rem + 3.75vw), 9.38rem);
    --space-XD: clamp(7.50rem, calc(6.50rem + 5.00vw), 12.50rem);
}

