/* @layer Base */
/*  Literal Utility Colors */
    /* color primary, abbreviated to first-letters */
    :root {
    --cp__ob4: ;
    --cp__ob3: ;
    --cp__ob2: ;
    --cp__ob1: ;
    --cp__base: ;
    --cp__ub1: ;
    --cp__ub2: ;
    --cp__ub3: ;
    --cp__ub4: ;

    /* color secundairy, abbreviated to first-letters */
    --cs__ob4: ;
    --cs__ob3: ;
    --cs__ob2: ;
    --cs__ob1: ;
    --cs__base: ;
    --cs__ub1: ;
    --cs__ub2: ;
    --cs__ub3: ;
    --cs__ub4: ;

    /* color tertiary, abbreviated to first-letters */
    --ct__ob4: ;
    --ct__ob3: ;
    --ct__ob2: ;
    --ct__ob1: ;
    --ct__base: ;
    --ct__ub1: ;
    --ct__ub2: ;
    --ct__ub3: ;
    --ct__ub4: ;

    /* color quarternairy, abbreviated to first-letters */
    --cq__ob4: ;
    --cq__ob3: ;
    --cq__ob2: ;
    --cq__ob1: ;
    --cq__base: ;
    --cq__ub1: ;
    --cq__ub2: ;
    --cq__ub3: ;
    --cq__ub4: ;

    /* color white, abbreviated to first-letters */
    --cw__ob1: ;
    --cw__base: ;
    --cw__ub1: ; 

    /* color gray, abbreviated to first-letters */
    --cg__ob1: ;
    --cg__base: ;
    --cg__ub1: ;

    /* color black, abbreviated to first-letters */
    --cb__ob1: ;
    --cb__base: ;
    --cb__ub1: ;

    /* utility color succes, abbreviated to first-letters */
    --ucs__ob1: ;
    --ucs__base: ;
    --ucs__ub1: ; 

    /* utility color notification, abbreviated to first-letters */
    --ucn__ob1: ;
    --ucn__base: ;
    --ucn__ub1: ;

    /* utility color warning, abbreviated to first-letters */
    --ucw__ob1: ;
    --ucw__base: ;
    --ucw__ub1: ;

    /* utility color error, abbreviated to first-letters */
    --uce__ob1: ;
    --uce__base: ;
    --uce__ub1: ;

    /* Relative Utility Colors, set to imaginary values */
    --uc__primary--ob1: var(--cp__ob4);
    --uc__primary--base:  var(--cp__base);
    --uc__primary--ub1: var(--cp__ub3);
    --uc__secondary--ob1: var(--cs__ob3);
    --uc__secondary--base: var(--cs__base);
    --uc__secondary--ub1: var(--cs__mub) ;
    --uc__tertiary--ob1: var(--ct__ob3);
    --uc__tertiary--base: var(--ct__ob1);
    --uc__tertiary--ub1: var(--ct__ub2);
    --uc__quarternairy--ob1: var(--cq__ob3);
    --uc__quarternairy--base: var(--cq__base);
    --uc__quarternairy--ub1: var(--cq__ub4);
    
    /* default utility colors, SEMANTICAL selector  */
    --uc__text--ob1: var(--cg__base);
    --uc__text--base: var(--cb__base);
    --uc__text--ub1: var(--cb__ub1);
    --uc__background: var(--cw__base);
    --uc__foreground: var(--cb__base);
    --uc__fill: var(--uc__foreground);
    --uc__border: var(--uc__foreground);
    }